    <div ui-view="overallScore" class="row"></div>
    <div ui-view="missingCheckpoint" class="row"></div>
    <div ui-view="summary" class="row"></div>
    <div ui-view="scores" class="row"></div>
