<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            Resistance
        </div>

        <div class="col-md-8">
            Enlightened
        </div>
        <div class="col-md-4">
            {{overallScore.ResistanceScore | number}}
        </div>
        <div class="col-md-4">
            {{overallScore.EnlightenedScore | number}}
        </div>

    </div>
</div>