<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            Resistance
            <br />
            {{overallScore.ResistanceScore | number}}
        </div>

        <div class="col-md-8">
            Enlightened
            <br />
            {{overallScore.EnlightenedScore | number}}
        </div>
    </div>
</div>