<div class="row">
    <div class="col-md-3">
        Checkpoint
    </div>
    <div class="col-md-3">
        EnlightenedScore
    </div>
    <div class="col-md-3">
        ResistanceScore
    </div>
    <div class="col-md-3">
        Checkpoint Time
    </div>
</div>
<div class="row" ng-repeat="score in scores | orderBy:'Cp'">
    <div class="col-md-3">
        {{score.Cp}}
    </div>
    <span ng-show="score.Type=='Upchurch.Ingress.Domain.RecordedScore'">
        <div class="col-md-3">
            {{score.EnlightenedScore | number}}
        </div>
        <div class="col-md-3">
            {{score.ResistanceScore | number}}
        </div>
    </span>
    <span ng-show="score.Type=='Upchurch.Ingress.Domain.MissingScore'">
        <div class="col-md-6">
            Missing. Click <a ui-sref="update(
                                    {checkpoint:score.Cp
                                    ,cycleId:$stateParams.cycleId})">here</a> to update it.
        </div>
    </span>
    <span ng-show="score.Type=='Upchurch.Ingress.Domain.FutureScore'">
        <div class="col-md-6">
            FutureScore
        </div>
    </span>

        <div class="col-md-3">
            {{score.DateTime}}
        </div>
</div>
